{% macro format_cell(header, row) %}
    {% set color = '' %}
    {% if header == 'logan_passengers' %}
        {% if row[header] < 0 %}
            {% set color = 'red' %}
        {% elif row[header] == 0 %}
            {% set color = 'white' %}
        {% else %}
            {% set color = 'green' %}
        {% endif %}
    {% endif %}
    <td bgcolor="{{ color }}" align="right">
        {% if header != 'Edited' %}
            {{ row[header]|float|round(2)}}
        {% else %}
            {{ row[header] }}
        {% endif %}
    </td>
{% endmacro %}
