{% extends "layout.html.j2" %}
{% block title %} Minimal Flask Table {% endblock %}

{% block body %}

<h1>Welcome!</h1>

<p>Hello! You've found the "minimal flask examples" website. Click on any of the links below to view the appropriate example.</p>
{% endblock %}
