<!doctype html>

<head>
    <title>{% block title %} Trader {% endblock %}</title>


<link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">


<script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.10/sorting/datetime-moment.js"></script>
</head>

<body>
<div class="topnav" id="myTopnav">
    <a href="/home">Home</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/ideas">Trade Ideas</a>
    <a href="/records">Records</a>
    <a href="javascript:void(0);" class="icon" onclick="respondNav()">
        <i class="fa fa-bars"></i>
    </a>
</div>

    <div class="container">
        <div class="row">

            <div class="col-12">
                {% block head %} 
                {% endblock %}
                {% block body %} 
                {% endblock %}
            </div>
        </div>
    </div>

    <script>
        function respondNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>